<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.yqby.platform.mapper.FlowStockMapper">
  <resultMap id="BaseResultMap" type="team.yqby.platform.dto.model.FlowStock">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="FLOW_ID" jdbcType="VARCHAR" property="flowId" />
    <result column="FLOW_BELONG" jdbcType="VARCHAR" property="flowBelong" />
    <result column="FLOW_TITLE" jdbcType="VARCHAR" property="flowTitle" />
    <result column="FLOW_DESC" jdbcType="VARCHAR" property="flowDesc" />
    <result column="FLOW_ORIGINAL_COST" jdbcType="BIGINT" property="flowOriginalCost" />
    <result column="FLOW_CURRENT_COST" jdbcType="BIGINT" property="flowCurrentCost" />
    <result column="STOCK" jdbcType="BIGINT" property="stock" />
    <result column="OUTTER_FLOW_ID" jdbcType="VARCHAR" property="outterFlowId" />
    <result column="UPDATE_BY" jdbcType="VARCHAR" property="updateBy" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="ARCHIVE_FLAG" jdbcType="VARCHAR" property="archiveFlag" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, FLOW_ID, FLOW_BELONG, FLOW_TITLE, FLOW_DESC, FLOW_ORIGINAL_COST, FLOW_CURRENT_COST, 
    STOCK, OUTTER_FLOW_ID, UPDATE_BY, UPDATE_DATE, CREATE_BY, CREATE_DATE, ARCHIVE_FLAG
  </sql>
  <select id="selectByExample" parameterType="team.yqby.platform.dto.model.FlowStockExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_flow_stock
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_flow_stock
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_flow_stock
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="team.yqby.platform.dto.model.FlowStockExample">
    delete from t_flow_stock
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="team.yqby.platform.dto.model.FlowStock">
    insert into t_flow_stock (ID, FLOW_ID, FLOW_BELONG, 
      FLOW_TITLE, FLOW_DESC, FLOW_ORIGINAL_COST, 
      FLOW_CURRENT_COST, STOCK, OUTTER_FLOW_ID, 
      UPDATE_BY, UPDATE_DATE, CREATE_BY, 
      CREATE_DATE, ARCHIVE_FLAG)
    values (#{id,jdbcType=BIGINT}, #{flowId,jdbcType=VARCHAR}, #{flowBelong,jdbcType=VARCHAR}, 
      #{flowTitle,jdbcType=VARCHAR}, #{flowDesc,jdbcType=VARCHAR}, #{flowOriginalCost,jdbcType=BIGINT}, 
      #{flowCurrentCost,jdbcType=BIGINT}, #{stock,jdbcType=BIGINT}, #{outterFlowId,jdbcType=VARCHAR}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{archiveFlag,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="team.yqby.platform.dto.model.FlowStock">
    insert into t_flow_stock
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="flowId != null">
        FLOW_ID,
      </if>
      <if test="flowBelong != null">
        FLOW_BELONG,
      </if>
      <if test="flowTitle != null">
        FLOW_TITLE,
      </if>
      <if test="flowDesc != null">
        FLOW_DESC,
      </if>
      <if test="flowOriginalCost != null">
        FLOW_ORIGINAL_COST,
      </if>
      <if test="flowCurrentCost != null">
        FLOW_CURRENT_COST,
      </if>
      <if test="stock != null">
        STOCK,
      </if>
      <if test="outterFlowId != null">
        OUTTER_FLOW_ID,
      </if>
      <if test="updateBy != null">
        UPDATE_BY,
      </if>
      <if test="updateDate != null">
        UPDATE_DATE,
      </if>
      <if test="createBy != null">
        CREATE_BY,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="archiveFlag != null">
        ARCHIVE_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="flowId != null">
        #{flowId,jdbcType=VARCHAR},
      </if>
      <if test="flowBelong != null">
        #{flowBelong,jdbcType=VARCHAR},
      </if>
      <if test="flowTitle != null">
        #{flowTitle,jdbcType=VARCHAR},
      </if>
      <if test="flowDesc != null">
        #{flowDesc,jdbcType=VARCHAR},
      </if>
      <if test="flowOriginalCost != null">
        #{flowOriginalCost,jdbcType=BIGINT},
      </if>
      <if test="flowCurrentCost != null">
        #{flowCurrentCost,jdbcType=BIGINT},
      </if>
      <if test="stock != null">
        #{stock,jdbcType=BIGINT},
      </if>
      <if test="outterFlowId != null">
        #{outterFlowId,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="archiveFlag != null">
        #{archiveFlag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="team.yqby.platform.dto.model.FlowStockExample" resultType="java.lang.Long">
    select count(*) from t_flow_stock
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_flow_stock
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.flowId != null">
        FLOW_ID = #{record.flowId,jdbcType=VARCHAR},
      </if>
      <if test="record.flowBelong != null">
        FLOW_BELONG = #{record.flowBelong,jdbcType=VARCHAR},
      </if>
      <if test="record.flowTitle != null">
        FLOW_TITLE = #{record.flowTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.flowDesc != null">
        FLOW_DESC = #{record.flowDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.flowOriginalCost != null">
        FLOW_ORIGINAL_COST = #{record.flowOriginalCost,jdbcType=BIGINT},
      </if>
      <if test="record.flowCurrentCost != null">
        FLOW_CURRENT_COST = #{record.flowCurrentCost,jdbcType=BIGINT},
      </if>
      <if test="record.stock != null">
        STOCK = #{record.stock,jdbcType=BIGINT},
      </if>
      <if test="record.outterFlowId != null">
        OUTTER_FLOW_ID = #{record.outterFlowId,jdbcType=VARCHAR},
      </if>
      <if test="record.updateBy != null">
        UPDATE_BY = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createBy != null">
        CREATE_BY = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.archiveFlag != null">
        ARCHIVE_FLAG = #{record.archiveFlag,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_flow_stock
    set ID = #{record.id,jdbcType=BIGINT},
      FLOW_ID = #{record.flowId,jdbcType=VARCHAR},
      FLOW_BELONG = #{record.flowBelong,jdbcType=VARCHAR},
      FLOW_TITLE = #{record.flowTitle,jdbcType=VARCHAR},
      FLOW_DESC = #{record.flowDesc,jdbcType=VARCHAR},
      FLOW_ORIGINAL_COST = #{record.flowOriginalCost,jdbcType=BIGINT},
      FLOW_CURRENT_COST = #{record.flowCurrentCost,jdbcType=BIGINT},
      STOCK = #{record.stock,jdbcType=BIGINT},
      OUTTER_FLOW_ID = #{record.outterFlowId,jdbcType=VARCHAR},
      UPDATE_BY = #{record.updateBy,jdbcType=VARCHAR},
      UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      CREATE_BY = #{record.createBy,jdbcType=VARCHAR},
      CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      ARCHIVE_FLAG = #{record.archiveFlag,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="team.yqby.platform.dto.model.FlowStock">
    update t_flow_stock
    <set>
      <if test="flowId != null">
        FLOW_ID = #{flowId,jdbcType=VARCHAR},
      </if>
      <if test="flowBelong != null">
        FLOW_BELONG = #{flowBelong,jdbcType=VARCHAR},
      </if>
      <if test="flowTitle != null">
        FLOW_TITLE = #{flowTitle,jdbcType=VARCHAR},
      </if>
      <if test="flowDesc != null">
        FLOW_DESC = #{flowDesc,jdbcType=VARCHAR},
      </if>
      <if test="flowOriginalCost != null">
        FLOW_ORIGINAL_COST = #{flowOriginalCost,jdbcType=BIGINT},
      </if>
      <if test="flowCurrentCost != null">
        FLOW_CURRENT_COST = #{flowCurrentCost,jdbcType=BIGINT},
      </if>
      <if test="stock != null">
        STOCK = #{stock,jdbcType=BIGINT},
      </if>
      <if test="outterFlowId != null">
        OUTTER_FLOW_ID = #{outterFlowId,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="archiveFlag != null">
        ARCHIVE_FLAG = #{archiveFlag,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="team.yqby.platform.dto.model.FlowStock">
    update t_flow_stock
    set FLOW_ID = #{flowId,jdbcType=VARCHAR},
      FLOW_BELONG = #{flowBelong,jdbcType=VARCHAR},
      FLOW_TITLE = #{flowTitle,jdbcType=VARCHAR},
      FLOW_DESC = #{flowDesc,jdbcType=VARCHAR},
      FLOW_ORIGINAL_COST = #{flowOriginalCost,jdbcType=BIGINT},
      FLOW_CURRENT_COST = #{flowCurrentCost,jdbcType=BIGINT},
      STOCK = #{stock,jdbcType=BIGINT},
      OUTTER_FLOW_ID = #{outterFlowId,jdbcType=VARCHAR},
      UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      CREATE_BY = #{createBy,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      ARCHIVE_FLAG = #{archiveFlag,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>