<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.yqby.platform.mapper.FlowPhoneBinMapper">
  <resultMap id="BaseResultMap" type="team.yqby.platform.dto.model.FlowPhoneBin">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="PHONE_BIN" jdbcType="VARCHAR" property="phoneBin" />
    <result column="PROVENCE_CODE" jdbcType="VARCHAR" property="provenceCode" />
    <result column="CITY_CODE" jdbcType="VARCHAR" property="cityCode" />
    <result column="CITY_NAME" jdbcType="VARCHAR" property="cityName" />
    <result column="CARRIER_NAME" jdbcType="VARCHAR" property="carrierName" />
    <result column="UPDATE_BY" jdbcType="VARCHAR" property="updateBy" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="ARCHIVE_FLAG" jdbcType="VARCHAR" property="archiveFlag" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, PHONE_BIN, PROVENCE_CODE, CITY_CODE, CITY_NAME, CARRIER_NAME, UPDATE_BY, UPDATE_DATE, 
    CREATE_BY, CREATE_DATE, ARCHIVE_FLAG
  </sql>
  <select id="selectByExample" parameterType="team.yqby.platform.dto.model.FlowPhoneBinExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_phone_bin
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_phone_bin
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_phone_bin
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="team.yqby.platform.dto.model.FlowPhoneBinExample">
    delete from t_phone_bin
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="team.yqby.platform.dto.model.FlowPhoneBin">
    insert into t_phone_bin (ID, PHONE_BIN, PROVENCE_CODE, 
      CITY_CODE, CITY_NAME, CARRIER_NAME, 
      UPDATE_BY, UPDATE_DATE, CREATE_BY, 
      CREATE_DATE, ARCHIVE_FLAG)
    values (#{id,jdbcType=BIGINT}, #{phoneBin,jdbcType=VARCHAR}, #{provenceCode,jdbcType=VARCHAR}, 
      #{cityCode,jdbcType=VARCHAR}, #{cityName,jdbcType=VARCHAR}, #{carrierName,jdbcType=VARCHAR}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{archiveFlag,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="team.yqby.platform.dto.model.FlowPhoneBin">
    insert into t_phone_bin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="phoneBin != null">
        PHONE_BIN,
      </if>
      <if test="provenceCode != null">
        PROVENCE_CODE,
      </if>
      <if test="cityCode != null">
        CITY_CODE,
      </if>
      <if test="cityName != null">
        CITY_NAME,
      </if>
      <if test="carrierName != null">
        CARRIER_NAME,
      </if>
      <if test="updateBy != null">
        UPDATE_BY,
      </if>
      <if test="updateDate != null">
        UPDATE_DATE,
      </if>
      <if test="createBy != null">
        CREATE_BY,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="archiveFlag != null">
        ARCHIVE_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="phoneBin != null">
        #{phoneBin,jdbcType=VARCHAR},
      </if>
      <if test="provenceCode != null">
        #{provenceCode,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null">
        #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null">
        #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="carrierName != null">
        #{carrierName,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="archiveFlag != null">
        #{archiveFlag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="team.yqby.platform.dto.model.FlowPhoneBinExample" resultType="java.lang.Long">
    select count(*) from t_phone_bin
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_phone_bin
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.phoneBin != null">
        PHONE_BIN = #{record.phoneBin,jdbcType=VARCHAR},
      </if>
      <if test="record.provenceCode != null">
        PROVENCE_CODE = #{record.provenceCode,jdbcType=VARCHAR},
      </if>
      <if test="record.cityCode != null">
        CITY_CODE = #{record.cityCode,jdbcType=VARCHAR},
      </if>
      <if test="record.cityName != null">
        CITY_NAME = #{record.cityName,jdbcType=VARCHAR},
      </if>
      <if test="record.carrierName != null">
        CARRIER_NAME = #{record.carrierName,jdbcType=VARCHAR},
      </if>
      <if test="record.updateBy != null">
        UPDATE_BY = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createBy != null">
        CREATE_BY = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.archiveFlag != null">
        ARCHIVE_FLAG = #{record.archiveFlag,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_phone_bin
    set ID = #{record.id,jdbcType=BIGINT},
      PHONE_BIN = #{record.phoneBin,jdbcType=VARCHAR},
      PROVENCE_CODE = #{record.provenceCode,jdbcType=VARCHAR},
      CITY_CODE = #{record.cityCode,jdbcType=VARCHAR},
      CITY_NAME = #{record.cityName,jdbcType=VARCHAR},
      CARRIER_NAME = #{record.carrierName,jdbcType=VARCHAR},
      UPDATE_BY = #{record.updateBy,jdbcType=VARCHAR},
      UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      CREATE_BY = #{record.createBy,jdbcType=VARCHAR},
      CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      ARCHIVE_FLAG = #{record.archiveFlag,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="team.yqby.platform.dto.model.FlowPhoneBin">
    update t_phone_bin
    <set>
      <if test="phoneBin != null">
        PHONE_BIN = #{phoneBin,jdbcType=VARCHAR},
      </if>
      <if test="provenceCode != null">
        PROVENCE_CODE = #{provenceCode,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null">
        CITY_CODE = #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null">
        CITY_NAME = #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="carrierName != null">
        CARRIER_NAME = #{carrierName,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="archiveFlag != null">
        ARCHIVE_FLAG = #{archiveFlag,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="team.yqby.platform.dto.model.FlowPhoneBin">
    update t_phone_bin
    set PHONE_BIN = #{phoneBin,jdbcType=VARCHAR},
      PROVENCE_CODE = #{provenceCode,jdbcType=VARCHAR},
      CITY_CODE = #{cityCode,jdbcType=VARCHAR},
      CITY_NAME = #{cityName,jdbcType=VARCHAR},
      CARRIER_NAME = #{carrierName,jdbcType=VARCHAR},
      UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      CREATE_BY = #{createBy,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      ARCHIVE_FLAG = #{archiveFlag,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>